{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="columns">
    <h1 class="col-mx-auto col-12 text-center">Login</h1>

    <div class="login-box col-mx-auto">
        <form method="POST" action="{% url 'login' %}" class="uniForm">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-success" value="login">
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
</div>
{% endblock content %}