{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <script src="{% static '/scripts/signupThree.js' %}"></script>
    <title>Preferences</title>
</head>
<body>
    <div class="signup container columns">
        <h1 class="col-mx-auto">What do you want in a partner?</h1>

        {% if error_message %}
            <div class="toast toast-error">
                <button class="btn btn-clear float-right"></button>
                {{error_message}}
            </div>
        {% endif %}

        <form action="{% url 'signup_three' %}" method="POST">
        {% csrf_token %}
        <div class="form-box container columns">
            
            <div class="form-box column col-6">
                <h3>What gender(s) do you like?</h3>
                {% for option in genders %}
                    <input type="checkbox" id={{option.gender}} name="gender" value={{option.gender}} onclick="changeGenders(this)">
                    <label for={{option.gender}}>{{option.gender}}</label>
                {% endfor %}
            </div>
            <div class="form-box column col-6 container">
                <div class="columns">
                    <h6>On a scale from 0 to 100: How much do they like sex?</h6>
                    <div class="column col-6">
                        <p>0 = No Sex, Please</p>
                        <input type="text" name="min_sex_drive" max_length="3" size="3" placeholder="0">
                        <p>Minimum</p>
                    </div>
                    <div class="column col-6">
                        <p>100 = Just Sex, Please</p>
                        <input type="text" name="max_sex_drive" max_length="3" size="3" placeholder="100">
                        <p>Maximum</p>
                    </div>
                </div>
            </div>
            <h3 class="col-mx-auto">Answers in this box will not be shown publicly.</h3>
        </div><br><br>
        <div class="container columns">
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Height</h6>
                <div class="columns">
                    <div class="column col-5">
                        <input type="text" name="min_height" max_length="3" size="3" placeholder="min">
                        <p>Minimum (cm)</p>
                    </div>
                    <div class="col-2"></div>
                    <div class="column col-5">
                        <input type="text" name="max_height" max_length="3" size="3" placeholder="max">
                        <p>Maximum (cm)</p>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Race</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="race" id="white" value="White" onclick="changeRace(this)">
                        <label for="white"> White</label><br>
                        <input type="checkbox" class="race" id="black" value="Black" onclick="changeRace(this)">
                        <label for="black"> Black</label><br><br>
                        <input type="checkbox" class="race" id="pacific" value="Pacific Islander" onclick="changeRace(this)">
                        <label for="pacific"> Pacific Islander</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="race" id="asian" value="Asian" onclick="changeRace(this)">
                        <label for="asian"> Asian</label><br>
                        <input type="checkbox" class="race" id="native" value="Native American" onclick="changeRace(this)">
                        <label for="native"> Native American</label><br>
                        <input type="checkbox" class="race" id="mideast" value="Middle Eastern" onclick="changeRace(this)">
                        <label for="mideast"> Middle Eastern</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="race" id="hispanic" value="Hispanic" onclick="changeRace(this)">
                        <label for="hispanic"> Hispanic</label><br>
                        <input type="checkbox" class="race" id="indian" value="East Indian" onclick="changeRace(this)">
                        <label for="indian"> East Indian</label><br>
                        <input type="checkbox" class="race" id="other" value="Other" onclick="changeRace(this)">
                        <label for="other"> Other</label><br>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Body Type</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="body_type" id="Slim" value="Slim and Slender" onclick="changeBody(this)">
                        <label for="Slim"> Slim and Slender</label><br>
                        <input type="checkbox" class="body_type" id="Fit" value="Athletic and Fit" onclick="changeBody(this)">
                        <label for="Fit"> Athletic and Fit</label><br>
                        <input type="checkbox" class="body_type" id="Average" value="Average" onclick="changeBody(this)">
                        <label for="Average"> Average</label><br>
                        <input type="checkbox" class="body_type" id="Muscular" value="Muscular" onclick="changeBody(this)">
                        <label for="Muscular"> Muscular</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="body_type" id="Curvy" value="Curvy" onclick="changeBody(this)">
                        <label for="Curvy"> Curvy</label><br>
                        <input type="checkbox" class="body_type" id="Extra" value="A Few Extra Pounds" onclick="changeBody(this)">
                        <label for="Extra"> A Few Extra Pounds</label><br>
                        <input type="checkbox" class="body_type" id="Heavy" value="Heavyset" onclick="changeBody(this)">
                        <label for="Heavy"> Heavyset</label><br>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Relationship Status</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="relationship_status" id="single" value="Never Married" onclick="changeRelationship(this)">
                        <label for="single"> Never Married</label><br>
                        <input type="checkbox" class="relationship_status" id="married" value="Married" onclick="changeRelationship(this)">
                        <label for="married"> Married</label><br>
                        <input type="checkbox" class="relationship_status" id="seperated" value="Currently Seperated" onclick="changeRelationship(this)">
                        <label for="seperated"> Currently Seperated</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="relationship_status" id="divorced" value="Divorced" onclick="changeRelationship(this)">
                        <label for="divorced"> Divorced</label><br>
                        <input type="checkbox" class="relationship_status" id="widow" value="Widow or Widower" onclick="changeRelationship(this)">
                        <label for="widow"> Widow or Widower</label><br>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Education Level</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="education" id="HS" value="High School" onclick="changeEducation(this)">
                        <label for="HS"> High School</label><br>
                        <input type="checkbox" class="education" id="college" value="Some College" onclick="changeEducation(this)">
                        <label for="college"> Some College</label><br>
                        <input type="checkbox" class="education" id="associate" value="Associates degree" onclick="changeEducation(this)">
                        <label for="associate"> Associates degree</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="education" id="bachelor" value="Bachelors degree" onclick="changeEducation(this)">
                        <label for="bachelor"> Bachelors degree</label><br>
                        <input type="checkbox" class="education" id="graduate" value="Graduate degree" onclick="changeEducation(this)">
                        <label for="graduate"> Graduate degree</label><br>
                        <input type="checkbox" class="education" id="phd" value="PhD or Post Doctoral" onclick="changeEducation(this)">
                        <label for="phd"> PhD or Post Doctoral</label><br>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Religion</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="religion" id="christian" value="Christian" onclick="changeReligion(this)">
                        <label for="christian"> Christian</label><br>
                        <input type="checkbox" class="religion" id="islam" value="Islam" onclick="changeReligion(this)">
                        <label for="islam"> Islam</label><br>
                        <input type="checkbox" class="religion" id="buddist" value="Buddist" onclick="changeReligion(this)">
                        <label for="buddist"> Buddist</label><br>
                        <input type="checkbox" class="religion" id="hindu" value="Hindu" onclick="changeReligion(this)">
                        <label for="hindu"> Hindu</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="religion" id="jewish" value="Jewish" onclick="changeReligion(this)">
                        <label for="jewish"> Jewish</label><br>
                        <input type="checkbox" class="religion" id="agnostic" value="Agnostic" onclick="changeReligion(this)">
                        <label for="agnostic"> Agnostic</label><br>
                        <input type="checkbox" class="religion" id="atheist" value="Atheist" onclick="changeReligion(this)">
                        <label for="atheist"> Atheist</label><br>
                        <input type="checkbox" class="religion" id="other" value="Other" onclick="changeReligion(this)">
                        <label for="other"> Other</label><br>
                    </div>
                </div>
            </div>
            <div class="column col-2"></div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Already has children?</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="has_kids" id="has_kids" name="has_kids" value="True">
                        <label for="has_kids"> Yes</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="has_no_kids" id="has_no_kids" name="has_no_kids" value="True">
                        <label for="has_no_kids"> No</label><br>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Wants future children?</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="wants_kids" id="wants_kids" name="wants_kids" value="True">
                        <label for="wants_kids"> Yes</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="never_wants_kids" id="never_wants_kids" name="never_wants_kids" value="True">
                        <label for="never_wants_kids"> No</label><br>
                    </div>
                </div>
            </div>
            <div class="column col-2"></div>
            <div class="column col-2"></div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Do they use tobacco?</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="smoke" id="smoke" name="smoke" value="True">
                        <label for="smoke"> Yes</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="never_smoke" id="never_smoke" name="never_smoke" value="True">
                        <label for="never_smoke"> No</label><br>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6 class="col-mx-auto" style="text-align:center">Do they drink alchohol?</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="drink" id="drink" name="drink" value="True">
                        <label for="drink"> Yes</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="never_drink" id="never_drink" name="never_drink" value="True">
                        <label for="never_drink"> No</label><br>
                    </div>
                </div>
            </div>
            <div class="column col-2"></div>
        <input type="submit" class="btn btn-success col-8 col-mx-auto" value="Submit">
        <input type="hidden" name="genders" value="" id="genders_input">
        <input type="hidden" name="body_type" value="" id="body_type_input">
        <input type="hidden" name="relationship_status" value="" id="relationship_status_input">
        <input type="hidden" name="education" value="" id="education_input">
        <input type="hidden" name="religion" value="" id="religion_input">
        <input type="hidden" name="race" value="" id="race_input">
        </div>
        </form>
    </div>
</body>
</html>