{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>Preferences</title>
</head>
<body>
    <div class="signup container columns">
        <h1 class="col-mx-auto">What do you want in a partner?</h1>

        {% if error_message %}
            <div class="toast toast-error">
                <button class="btn btn-clear float-right"></button>
                {{error_message}}
            </div>
        {% endif %}

        <form action="{% url 'signup_three' %}" method="POST">
        {% csrf_token %}
        <div class="form-box container columns">
            <div class="form-box column col-6">
                <h3>What gender(s) do you like?</h3>
                {% for option in genders %}
                    <input type="checkbox" id={{option.gender}} name="gender" value={{option.gender}}>
                    <label for={{option.gender}}>{{option.gender}}</label>
                {% endfor %}
            </div>
            <div class="form-box column col-6 container">
                <div class="columns">
                    <h6>On a scale from 0 to 100: How much do they like sex?</h6>
                    <hr>
                    <div class="column col-4">
                        <input type="text" name="min_sex_drive" max_length="3" size="3" placeholder="0">
                        <p>Minimum</p>
                    </div>
                    <div class="column col-4">
                        <p>0 = No Sex, Please</p>
                        <p>100 = Just Sex, Please</p>
                    </div>
                    <div class="column col-4">
                        <input type="text" name="max_sex_drive" max_length="3" size="3" placeholder="100">
                        <p>Maximum</p>
                    </div>
                </div>
            </div>
            <h3>Answers in this box will not be shown publicly.</h3>
        </div>
        <div class="container columns">
            <div class="form-box column col-4 container">
                <h6>Height</h6>
                <div class="columns">
                    <div class="column col-5">
                        <input type="text" name="min_height" max_length="3" size="3" placeholder="min">
                        <p>Minimum (cm)</p>
                    </div>
                    <div class="col-2"></div>
                    <div class="column col-5">
                        <input type="text" name="max_height" max_length="3" size="3" placeholder="max">
                        <p>Maximum (cm)</p>
                    </div>
                </div>
            </div>
            <div class="form-box column col-4 container">
                <h6>Race</h6>
                <div class="columns">
                    <div class="column">
                        <input type="checkbox" class="race" id="white" onclick="changeRace(this)">
                        <label for="white"> White</label><br>
                        <input type="checkbox" class="race" id="black" onclick="changeRace(this)">
                        <label for="black"> Black</label><br>
                        <input type="checkbox" class="race" id="hispanic" onclick="changeRace(this)">
                        <label for="hispanic"> Hispanic</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="race" id="asian" onclick="changeRace(this)">
                        <label for="asian"> Asian</label><br>
                        <input type="checkbox" class="race" id="native" onclick="changeRace(this)">
                        <label for="native"> Native American</label><br>
                        <input type="checkbox" class="race" id="mideast" onclick="changeRace(this)">
                        <label for="mideast"> Middle Eastern</label><br>
                    </div>
                    <div class="column">
                        <input type="checkbox" class="race" id="pacific" onclick="changeRace(this)">
                        <label for="pacific"> Pacific Islander</label><br>
                        <input type="checkbox" class="race" id="indian" onclick="changeRace(this)">
                        <label for="indian"> East Indian</label><br>
                        <input type="checkbox" class="race" id="other" onclick="changeRace(this)">
                        <label for="other"> Other</label><br>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</body>
</html>