{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>Profile Creation</title>
</head>
<body>
    <h1>Who Are You?</h1>

    {% if error_message %}
        <div class="toast toast-error">
            <button class="btn btn-clear float-right"></button>
            {{error_message}}
        </div>
    {% else %}
    {% endif %}

    <form enctype='multipart/form-data' method="POST" action="{% url 'signup_two' %}">
        {% csrf_token %}
        {{ from.image }}
        <div class="contianer">
            <div id="gender-box">
                <h3>Gender</h3>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="enter" name="gender" value="enter">
                <input type="text" placeholder="Enter a new gender">
            </div>
            <div class="column col-6">
                
            </div>
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
    </form>
</body>
</html>

