{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>Profile Creation</title>
</head>
<body>
    <div class="signup container columns">
        <h1 class="col-mx-auto">Who Are You?</h1>

        {% if error_message %}
            <div class="toast toast-error">
                <button class="btn btn-clear float-right"></button>
                {{error_message}}
            </div>
        {% else %}
        {% endif %}

        <form enctype='multipart/form-data' method="POST" action="{% url 'signup_two' %}">
            {% csrf_token %}
            <div class="columns">
                
                <div class="form-box column col-12 col-mx-auto">
                    <h3 style="text-align:center">Gender</h3>
                    {% for user in users %}
                        <input type="radio" id={{user.profile.gender}} name="gender" value={{user.profile.gender}}>
                        <label for={{user.profile.gender}}>{{user.profile.gender}}</label>
                    {% endfor %}
                    <input type="radio" id="enter" name="gender" value="enter">
                    <input type="text" placeholder="Enter a new gender">
                </div>
                <div class="column col-1"></div>
                <div class="column col-3 form-box">
                    {{ profile_form.as_p }}
                </div>
                <div class="column col-7">
                    <div class="form-box">
                        <h3>On a scale of 0 to 100: How much do you like sex?</h3>
                        <h6>Please answer honestly. Your answer will not be shown on your profile.</h6>
                        <input type="range" class="slider tooltip" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);">
                    </div>
                    <div class="form-box">
                        <h3>What are your interests?</h3>
                        <div class="columns">
                            <div class="column">
                                <input type="checkbox" id="tv" value="tv">
                                <label for="tv"> Watching TV</label><br>
                                <input type="checkbox" id="concert" value="concert">
                                <label for="concert"> Concerts</label><br>
                                <input type="checkbox" id="dance" value="dance">
                                <label for="dance"> Dancing</label><br>
                                <input type="checkbox" id="games" value="games">
                                <label for="games"> Video Games</label><br>
                                <input type="checkbox" id="garden" value="garden">
                                <label for="garden"> Gardening</label><br>
                                <input type="checkbox" id="travel" value="travel">
                                <label for="travel"> Travel</label><br>
                            </div>
                            <div class="column">
                                <input type="checkbox" id="hike" value="hike">
                                <label for="hike"> Hiking</label><br>
                                <input type="checkbox" id="movies" value="movies">
                                <label for="movies"> Movies</label><br>
                                <input type="checkbox" id="art" value="art">
                                <label for="art"> Art</label><br>
                                <input type="checkbox" id="music" value="music">
                                <label for="music"> Music</label><br>
                                <input type="checkbox" id="nightlife" value="nightlife">
                                <label for="nightlife"> Nightlife</label><br>
                                <input type="checkbox" id="volunteering" value="volunteering">
                                <label for="volunteering"> Volunteering</label><br>
                            </div>
                            <div class="column">
                                <input type="checkbox" id="playSport" value="playSport">
                                <label for="playSport"> Playing Sports</label><br>
                                <input type="checkbox" id="watchSport" value="watchSport">
                                <label for="watchSport"> Watching Sports</label><br>
                                <input type="checkbox" id="reading" value="reading">
                                <label for="reading"> Reading</label><br>
                                <input type="checkbox" id="religion" value="religion">
                                <label for="religion"> Religion</label><br>
                                <input type="checkbox" id="shopping" value="shopping">
                                <label for="shopping"> Nightlife</label><br>
                                <input type="checkbox" id="gym" value="gym">
                                <label for="gym"> Working Out</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="form-box">
                        <h3>Describe yourself in your own words:</h3>
                        <textarea name="description" id="description" class="form-input" rows="11"></textarea>
                    </div>
                </div>
                <div class="col-1"></div>
                <input type="submit" class="btn btn-success col-8 col-mx-auto" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>

