{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <header class="navbar">
        <section class="navbar-section">
            <h4>BetterMeet</h4>
            <h6>The Best Place to Meet Online.</h6>
        </section>
        <section class="navbar-section">
            <a href="" class="btn btn-link">Sign-up</a>
            <a href="" class="btn btn-link">Log In</a>
        </section>
    </header>
    {% block content %}
    
    {% endblock content %}
</body>
</html>