{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container columns">
    <div class=" hero col-mx-auto">
        <div class="hero-body">
            <h1 class="text-primary">BetterMeet</h1>
            <h6 class="text-primary">The Best Place to Meet Online.</h6>
            <a href="{% url 'signup' %}" class="btn btn-success">Find Love Now</a>
        </div>
    </div>
</div>
<div class="container" id="home-text">
    <div class="columns">
        <h2 class="column col-12" style="text-align:center">Why We Are Better</h2>
        <div class="column col-6 col-sm-12">
            <h3 class="col-mx-auto" style="text-align:center">Open to all genders and sexualities</h3>
            <ul>
                <li><strong>Genders on our site are crowdsourced.</strong> If none of them describe you, you can enter your own.</li>
                <li><strong>You never need to name your sexuality.</strong> Just tell us what kind of people you like.</li>
                <li><strong>Everyone has different levels of interest in sex.</strong> We try to account for that, too.</li>
                <li><strong>Your sexual identity is nobody's buisness, but your own.</strong> Your answers about your gender preferences and sex drive are never displayed on the site.</li>
            </ul>
        </div>
        <div class="column col-6 col-sm-12">
            <h3 class="col-mx-auto" style="text-align:center">Our system encourages better and fewer introductory messages</h3>
            <ul>
                <li><strong>Mutual interest hints</strong> encourage starting the conversation out right.</li>
                <li>The dynamics of a typical dating site tends to turn men into spammers sending out hundreds of copy and paste messages in hopes of getting any reply. This just sucks for everyone. <strong>We limit this behavior with our Message Credit System.</strong></li>
                <div class="columns">
                    <button class="btn column col-4 col-mx-auto" id="learn">Learn More</button>
                </div>
            </ul>
        </div>
        <a class="btn btn-success column col-4 col-mx-auto" href="{% url 'signup' %}">Find Love Now</a>
    </div>
</div>

<div class="modal" id="modal-id">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Message Credits</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <p>Everyday each user receives a number of message credits. Sending a message to a user you have not previously received a message from will cost you a number of credits based on how likely they are to respond, so the more they are likely they are to like you the more messages you get. <strong>Replying to another user is always free.</strong> Message credits reset everyday.</p>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/scripts/home.js' %}"> </script>

{% endblock content %}