{% extends "base.html" %}

{% block content %}

<div class="container hero bg-grey col-mx-auto">
    <div class="hero-body">
        <h1>BetterMeet</h1>
        <p>The Best Place to Meet Online.</p>
        <button class="btn btn-success">Find Love Now</button>
    </div>
</div>
<div class="container">
    <div class="columns">
        <h2 class="column col-12" style="text-align:center">Why We Are Better</h2>
        <div class="column col-6">
            <h3 class="label label-primary label-rounded col-mx-auto" style="text-align:center">Open to all genders and sexualities</h3>
            <ul>
                <li><strong>Genders on our site are crowdsourced.</strong> If none of them describe you, you can enter your own.</li>
                <li><strong>You never need to name your sexuality.</strong> Just tell us what kind of people you like.</li>
                <li><strong>Everyone has different levels of interest in sex.</strong> We try to account for that, too.</li>
                <li><strong>Your sexual identity is nobody's buisness, but your own.</strong> Your answers about your gender preferences and sex drive are never displayed on the site.</li>
            </ul>
        </div>
        <div class="column col-6">
            <h3 class="label label-primary label-rounded col-mx-auto" style="text-align:center">Our system encourages better and fewer introductory messages</h3>
            <ul>
                <li><strong>Mutual interest hints</strong> encourage starting the conversation out right.</li>
                <li>The dynamics of a typical dating site tends to turn men into spammers sending out hundreds of copy and paste messages in hopes of getting any reply. This just sucks for everyone. <strong>We limit this behavior with our Message Credit System.</strong></li>
                <div class="columns">
                    <button class="btn column col-4 col-mx-auto">Learn More</button>
                </div>
            </ul>
        </div>
        <button class="btn btn-success column col-4 col-mx-auto">Find Love Now</button>
    </div>
</div>

{% endblock content %}